.swiper-button-prev,
.swiper-button-next {
  background: white;
  width: 64px;
  height: 64px;
  border-radius: 100%;
}
.swiper-slide > img {
  width: 100%;
  height: 661px;
}
.swiper-slide {
  position: relative;
}

.banner-overlay {
  background: #00000094;
}

.second-text {
  font-family: "Josefin Sans", sans-serif;
}

.first-text {
  font-family: "Dancing Script", cursive;
}
