.countDown > span {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    padding: 34px;
    border-radius: 20px;
    background: #4b00822b;
    font-family: "Josefin Sans", sans-serif;
    display: grid;
    place-items: center;
}
.miss-class{
    font-family: sans-serif
}